@import "../../node_modules/bootstrap/scss/functions";

$primary: #8a8000;
$danger: #dd0000;
$success: lime;
$warning: orange;
$info: aqua;

$body-bg: #f7f7f7;

$btn-border-radius: 3px;
$btn-border-radius-sm: 3px;
$btn-border-radius-lg: 3px;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
