.fondoMenu {
  background-color: #e9e9e9;
  padding: 5px;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.disableSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.disableSelect:hover {
  color: #3b4650;
}


